{% extends "base.html" %}
{% load django_bootstrap5 %}
{%block titile%}JudisvilleResource SalesPage{%endblock titile%}

{%block content%}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{product.product_img.url}}')">
  <div class="overlay "></div>
  <div class="container ">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto st-index">
        <div class="page-heading ">
          <h2>Original {{product.product_name}}</h2>
          <span class="subheading ">Purchase your Quality and Affordable {{product.product_name}}</span>
        </div>
      </div>
    </div>
  </div> 
</header>

<!-- Main Content -->
<div class="container">
  <div class="row ">
    <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <!-- <div class="card-header"><h3>Description</h3></div> -->
        <div class="card-body">
          <h3 class="card-title">Description</h3>
          <p class="card-text">
            {%for item in descriptions%}
            {{item}}<br>
            {%endfor%}
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <!-- <div class="card-header"><h3>Price</h3></div> -->
        <div class="card-body text-black bg-dark">
          <h3 class="card-title">Price</h3>
          <p class="card-text">
            {%for item in prices%}
            {{item}}<br>
            {%endfor%}
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-auto col-sm-6  mx-auto d-flex justify-content-center">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <!-- <div class="card-header"><h3>Price</h3></div> -->
        <div class="card-body text-black bg-dark">
          <h3 class="card-title">Promotions</h3>
          <p class="card-text">Delivery Fees <br>Pickup Station: 20% off <br>
            Door Delivery: 5% off
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <br>
      <br>
      <h2> To place your order, fill in the form below</h2> <br>

      <form method="POST" action="" name="sentMessage" id="contactForm" novalidate>
        {%csrf_token%}
        {%bootstrap_form form %}
        {%bootstrap_button button_type='submit' content="Click to Place Your Order"%}

      </form>
    </div>
  </div>
</div>

{%endblock content%}