{% extends 'base.html' %} 
{%block titile%}JudisvilleResource ThankYouPage {%endblock titile%}
{% block content %}
<br><br>
<div class="container" id=" marge">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
<h1>Your order for {{product_obj.product_name}} has been placed</h1>
<p>
    one of our agent will get in touch with you soon. Thank You
</p>
<p>
    If you would like to get in touch with us call our customer care: +2349071705603
</p>

<div class="col-auto">
    <a href=""><button class="btn btn-primary"> Check our other Products</button></a>
</div >
      </div></div></div>
{% endblock content %}